<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COLOR</key>
	<dict>
		<key>p1</key>
		<string>0E0E0E</string>
		<key>p2</key>
		<string>F0FFFF</string>
		<key>p3</key>
		<string>161616</string>
		<key>p4</key>
		<string>FFFFFF</string>
		<key>p5</key>
		<string>EDEDED</string>
		<key>p6</key>
		<string>EDEDED</string>
		<key>p7</key>
		<string>666666</string>
		<key>p8</key>
		<string>1e212a</string>
		<key>p9</key>
		<string>333746</string>
		<key>p10</key>
		<string>333746</string>
		<key>p11</key>
		<string>EEEEEE</string>
	</dict>
	<key>IMAGE</key>
	<dict>
		<key>image01</key>
		<string>night_home</string>
		<key>image02</key>
		<string>night_discover</string>
		<key>image03</key>
		<string>night_me</string>
		<key>image04</key>
		<string>details_white</string>
		<key>image05</key>
		<string>switch_on</string>
	</dict>
</dict>
</plist>
